<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/Content/all.min.css" rel="stylesheet">
    <link href="~/Content/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/Content/landing-page.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">QLHGX Hali</a>
        @Html.ActionLink("Đăng nhập","Index","Login", null, new { @class = "btn btn-primary signin" })
    </div>
  </nav>
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1>HỆ THỐNG QUẢN LÝ HẦM GỬI XE THÔNG MINH</h1>
            <h2>DATN Hali 2021</h2>
        </div>
      </div>
    </div>
  </header>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 h-100 text-center text-lg-right my-auto" >
            <ul class="list-inline mb-0">
                <li class="list-inline-item mr-3">
                    <a href="#">
                        <img src="~/Images/iconlogin.jpg" style="width:120px;height:120px;" />
                    </a>
                </li>
                <li class="list-inline-item mr-3">
                    <a href="#">
                        <img src="~/Images/iconlogin.jpg" style="width:120px;height:120px;" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <img src="~/Images/iconlogin.jpg" style="width:120px;height:120px;" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <img src="~/Images/iconlogin.jpg" style="width:120px;height:120px;" />
                    </a>
                </li>
                <li class="list-inline-item mr-3">
                    <a href="#">
                        <img src="~/Images/iconlogin.jpg" style="width:120px;height:120px;" />
                    </a>
                </li>
                <li class="list-inline-item mr-3">
                    <a href="#">
                        <img src="~/Images/iconlogin.jpg" style="width:120px;height:120px;" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <img src="~/Images/iconlogin.jpg" style="width:120px;height:120px;" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <img src="~/Images/iconlogin.jpg" style="width:120px;height:120px;" />
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
